*{
	margin: 0px;
	padding: 0px;
}

/*All icons*/
.icons {
	width: 26px;
}

.icons:hover {
	cursor: pointer;
}

/* Body */
body {
	overflow-y: hidden;
	font-family: Calibri, sans-serif; 
}

/*Header*/
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.headerLeft {
	display: flex;
	align-items: center;
	padding-left: 3px;
}

.headerLeft .icons {
	padding: 20px;
}

.menuBlue {
	margin-right: 5px;
	background-color: #eaf1fb;
}
.menuButton {
	border: none;
	border-radius: 100px;
	background-color: #eaf1fb;
}

.menuButton:hover{
	background-color: #b4b4b4;
}

#googleLogo {
	width: 135px;
}

.headerMiddle {
	margin: 290px;
	position: fixed;
	display: flex;
	flex: 0.7;
	align-items: center;
	padding: 10px;
	background-color: #eaf1fb;
	border-radius: 10px;
}

.searchButton {
	border: none;
	border-radius: 50px;
	padding: 5px;
	background-color: #eaf1fb;
}

.searchButton:hover{
	background-color: hsl(0, 11%, 93%);
}

.headerMiddle input {
	border: none;
	outline: none;
	width: 600px;
	font-size: medium;
	padding: 10px;
	background-color: #eaf1fb;
}

.tuneButton {
	border: none;
	border-radius: 50px;
	padding: 5px;
	background-color: #eaf1fb;
}

.tuneButton:hover{
	background-color: hsl(0, 11%, 93%);
}

.headerRight {
	float: right;
	display: flex;
	padding-right: 20px;	
}

.headerRight .icons {
	padding: 10px;
}

.headerRightButton {
	border: none;
	border-radius: 50px;
	background-color: white;
}

.headerRightButton:hover{
	background-color: #d7d7d7;
}

/* main body */
.mainBody {
	display: flex;
}

/* Sidebar */
.sidebar {
	display: flex;
}

.sidebar1 {
	padding-right: 4px;
	padding-left: 5px;
	padding-bottom: 200px;
	background-color: #eaf1fb;
}

.sidebarButton1, .sidebarButton2 {
	background-color:#eaf1fb;
	font-size: 12px;
	font-weight: bold;
	color: hsl(207, 57%, 33%);
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 10px;
	border: none;
	outline: none;
}

.sidebarButton1 img, .sidebarButton2 img {
	width: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 20px;
}

.sidebarButton1 img {
	background-color: #d5e0f0;
}

.sidebarButton2 img:hover {
	background-color: #b4b4b4;
}

.sidebar2 {
	flex: 0.3;
	max-width: 300px;
	padding-right: 20px;
	background-color: white;
}

.sidebarCompose{
	display: flex;
	align-items: center;
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 15px;
	border: none;
	outline: none;
	color: #175181;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 550;
	padding: 15px;
	background-color: rgb(159, 223, 253);
	border-radius: 20px;
	cursor: pointer;
}

.sidebarCompose:hover {
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.75);
}

.sidebarCompose .icons {
	padding-right: 5px;
}

.sidebarOption {
	display: flex;
	align-items: center;
	margin-left: 10px;
	margin-right: 20px;
	padding: 3px 10px;
	color: darkslategrey;
	font-size: 12px;
	border-radius: 20px; 
	cursor: pointer;
}

.sidebarOptionActive {
	background-color: #d5e0f0;
}

.sidebarOptionNonActive:hover {
	background-color:  hsl(0, 11%, 93%);
}

.sidebarOption img {
	padding-left: 10px;
	padding-right: 10px;
}

.sidebarFooter {
	display: flex;
	align-items: center;
	margin-left: 10px;
}

.sidebarFooterIcons {
	color: darkslategrey;
	font-size: 15px;
	padding: 25px;
	display: flex;
	align-items: center;
}

.labelButton {
	margin-left: 60px;
	border-radius: 50px;
	border: none;
	outline: none;
	background-color: white;
}

.labelButton:hover {
	background-color: hsl(0, 11%, 93%);
}

.emailList {
	flex: 1;
	overflow: scroll;
}

.emailListSettings {
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	z-index: 999;
	padding: 8px;
}

.emailListSettings .icons {
	margin: 5px;
}

.emailListSettingsLeft {
	display: flex;
	align-items: center;
}

.smallIcons {
	width: 20px;
}


.emailRow {
	display: flex;
	align-items: center;
	padding: 6px 0px;
	cursor: pointer;
	border-bottom: 1px solid rgba(0, 0, 0, 0.24);
	z-index: 999;
}

.emailRow:hover {
	box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.24);
}

.emailRowOptions {
	display: flex;
	align-items: center;
	padding-left: 6px;
}

.emailRowOptions .icons, input {
	margin: 5px;
}

.emailRowSender {
	font-size: 18px;
	font-weight: 500;
	flex: 0.3;
}

.emailRowMessage {
	display: flex;
	flex: 0.8;
	align-items: center;
}

.emailRowMessage h4 {
	width: 400px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 17px;
	font-weight: 400;
}

.emailRowDescription {
	font-size: 16px;
	font-weight: 400;
	color: gray;
}

.emailRowTime {
	padding-right: 15px;
	color: gray;
	font-size: 14px;
	font-weight: 400;
}

@media screen and (max-width: 769px) {
	.headerMiddle input {
		width: 0px;
	}
}


